<p>
  <a href="{{site.dc_site}}">Data Carpentry</a> develops and teaches workshops on the fundamental data skills needed to conduct
  research. Its target audience is researchers and others who create, manage, and use data who have little to no prior computational experience, 
  and its lessons are domain specific, building on learners' existing knowledge to enable them to quickly 
  apply skills learned to their own research.
  Participants will be encouraged to help one another
  and to apply what they have learned to their own research problems.
</p>
<p>
  The Smithsonian Institution has been a member organization of the Carpentries organization since 2017, and a Platinum Member since 2021. 
  Smithsonian Carpentries workshops are taught by a volunteer team of Smithsonian staff and fellows who have all been trained and certified by
  the Carpentries organization in the principles of effective teaching of computational skills. You can learn about the Smithsonian
  Carpentries organization at our website: <a href='https://datascience.si.edu/carpentries' target="_blank">https://datascience.si.edu/carpentries</a>
</p>
