<div id="r">
  <h3>R</h3>

  <p>
    <a href="https://www.r-project.org">R</a> is a programming language
    that is especially powerful for data exploration, visualization, and
    statistical analysis. To interact with R, we use
    <a href="https://www.rstudio.com/">RStudio</a>.
    R and RStudio are separate downloads and installations. R is the underlying 
    statistical computing environment, but using R alone is no fun. RStudio is a 
    graphical integrated development environment (IDE) that makes using R much easier 
    and more interactive. You need to install R before you install RStudio. After 
    installing both programs, you will need to install some specific R packages 
    within RStudio. Follow the instructions below for your operating system, and 
    then follow the instructions to install tidyverse.
  </p>

  <div>
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a data-os="siwindows" href="#rstudio-siwindows" aria-controls="SIWindows" role="tab" data-toggle="tab">SI-Issued Windows</a></li>
      <li role="presentation"><a data-os="simacos" href="#rstudio-simacos" aria-controls="SIMacOS" role="tab" data-toggle="tab">SI-Issued Mac</a></li>
      <li role="presentation"><a data-os="windows" href="#rstudio-windows" aria-controls="Windows" role="tab" data-toggle="tab">Non-SI Windows</a></li>
      <li role="presentation"><a data-os="macos" href="#rstudio-macos" aria-controls="MacOS" role="tab" data-toggle="tab">Non-SI MacOS</a></li>
      <li role="presentation"><a data-os="browser" href="#rstudio-browser" aria-controls="browser" role="tab" data-toggle="tab">Web Browser</a></li>
    </ul>

    <div class="tab-content">
      <article role="tabpanel" class="tab-pane active" id="rstudio-siwindows">
        <ol>
          <li>Open Software Center, click on R, and then click Install.</li>
          <li>After R is installed via the Software Center, click on the RStudio icon, and install RStudio.
          </li>
        </ol>
      </article>
      <article role="tabpanel" class="tab-pane" id="rstudio-simacos">
        <li>Open the Self Service app, click on the Utilities category, and then click Install
          under the OpenRefine icon.</li>
       <li>Check the Desktop for an OpenRefine icon. If it is not there, you may need 
         to restart your computer.
       </li>
      </article>
      <article role="tabpanel" class="tab-pane" id="rstudio-windows">
        <p>
          Install R by downloading and running
          <a href="https://cran.r-project.org/bin/windows/base/release.htm">this .exe file</a>
          from <a href="https://cran.r-project.org/index.html">CRAN</a>.
          Also, please install the
          <a href="https://www.rstudio.com/products/rstudio/download/#download">RStudio IDE</a>.
          Note that if you have separate user and admin accounts, you should run the
          installers as administrator (right-click on .exe file and select "Run as
          administrator" instead of double-clicking). Otherwise problems may occur later,
          for example when installing R packages.
        </p>
        <h4>Video Tutorial</h4>
        <div class="yt-wrapper2">
        <div class="yt-wrapper">
        <iframe type="text/html" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" src="https://www.youtube-nocookie.com/embed/q0PjTAylwoU?modestbranding=1&playsinline=1&iv_load_policy=3&rel=0" class="yt-frame" allowfullscreen></iframe>
        </div>
        </div>
      </article>
      <article role="tabpanel" class="tab-pane" id="rstudio-macos">
        <p>
          Install R by downloading and running
          <a href="https://cran.r-project.org/bin/macosx/R-latest.pkg">this .pkg file</a>
          from <a href="https://cran.r-project.org/index.html">CRAN</a>.
          Also, please install the
          <a href="https://www.rstudio.com/products/rstudio/download/#download">RStudio IDE</a>.
        </p>
        <h4>Video Tutorial</h4>
        <div class="yt-wrapper2">
        <div class="yt-wrapper">
        <iframe type="text/html" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" src="https://www.youtube-nocookie.com/embed/5-ly3kyxwEg?modestbranding=1&playsinline=1&iv_load_policy=3&rel=0" class="yt-frame" allowfullscreen></iframe>
        </div>
        </div>
      </article>
      <article role="tabpanel" class="tab-pane" id="rstudio-browser">
        <p>
          If you ran into any difficulty installing R or RStudio on your machine, we have a browser-based 
          back-up solution that will run at this link: 
          <a href="https://mybinder.org/v2/gh/SmithsonianWorkshops/binders/rstudio?urlpath=rstudio" rel="nofollow" target="_blank">
            <img src="https://camo.githubusercontent.com/581c077bdbc6ca6899c86d0acc6145ae85e9d80e6f805a1071793dbe48917982/68747470733a2f2f6d7962696e6465722e6f72672f62616467655f6c6f676f2e737667" alt="Binder" data-canonical-src="https://mybinder.org/badge_logo.svg" style="max-width: 100%;">
          </a>
        </p>
      </article>
    </div>
  </div>
</div>
